<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head(~{::title})">
	<title>TropSmart - Mis Solicitudes</title>
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<main>
	<section class="container">
		<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item">Cliente</li>
		    <li class="breadcrumb-item active" aria-current="page" >
		    	Solicitudes 
		    	<span class="badge badge-light" th:text="${#lists.size(servicios)}">2</span>
		    </li>
		  </ol>
		</nav>
		
		<div style="display:flex;">
			<div th:each="servicio : ${servicios}" class="card border-success mb-3" 
				style="width: 18rem; margin:10px;">
			  <div class="card-header text-white bg-success" > Solicitud Nro: <span th:text="${servicio.id}"></span> </div>
			  <div class="card-body">
			    <h5 class="card-title"> Estado: <span th:text="${servicio.estado}"></span> </h5>
			    <p class="card-text">Fecha: <span th:text="${servicio.fechaSolicitud}"></span></p>
			    <p class="card-text">Precio: <strong>S/. <span th:text="${servicio.precioSolicitado}"></span></strong></p>
			    <p class="card-text"></p>
			    <a th:href="@{'/solicitudes/' + ${servicio.id} + '/d'}" class="btn btn-info">Ver Detalle</a>
			    <!--a th:href="@{'/solicitudes/' + ${servicio.id} + '/c'}" class="btn btn-success">
			    	<i class="fas fa-cash-register"></i> Confirmar Entrega
			    </a-->
			  </div>
			</div>
		</div>
		
		
	</section>
	</main>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>