<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head(~{::title})">
	<title>Delivery - Template</title>
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<main>
	<section class="container">
		
		<div class="jumbotron">
		  <h1 class="display-4" >Bienvenidos a TropSmart</h1>
		  <p class="lead">Empieza a transportar lo que desees.</p>
		  <hr class="my-4">
		  <p sec:authorize="hasRole('ROLE_DRIVER')">
		  	Haga click en <strong>Mis entregas</strong> para ver las solicitudes de los clientes.
		  </p>
		  <p href="#" sec:authorize="hasRole('ROLE_CUSTOMER')">
		  	Haga click en <strong>Mis solicitudes</strong> para ver el estado de sus solicitudes de carga.
		  </p>
		  <!--a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a-->
		</div>
		
	</section>
	</main>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>